<%= form_with(model: prueba, local: true) do |f| %>
  <% if prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
        <% prueba.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <%= label_tag(:nombre, "Nombre", class: "label") %>
      <div class="control">
        <%= f.text_field :nombre, class: "input"  %>
      </div>
    </div>

    <div class="field">
      <%= label_tag(:edad, "Edad", class: "label") %>
      <div class="control">
        <%= f.number_field :edad, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= label_tag(:fechaNac, "Fecha de nacimiento", class: "label") %>
      <div class="control">
        <%= f.date_field :fechaNac, class: "input" %>
      </div>
    </div>

    <br>

    <a class="button is-light" href="/pruebas">Back</a>
    <input class="button is-light" type="submit">
  </div>
<% end %>