<p id="notice"><%= notice %></p>

<%= render 'navbar', prueba: @prueba %>
<h1 class="title is-1 is-spaced">Pruebas</h1>

<table>
  <thead>
    <tr>
      <th class="title is-4" colspan="3">Registros</th>
    </tr>
  </thead>
  
  <tbody>
    <% @pruebas.each do |prueba| %>
      <tr>
        <td><%= label_tag 'Registro', prueba.nombre, class: 'title is-7' %> </td><br>
        <td><%= link_to 'Mostrar', prueba, class: "button is-light" %></td>
        <td><%= link_to 'Editar', edit_prueba_path(prueba), class: "button is-light" %></td>
        <td><%= link_to 'Eliminar', prueba, method: :delete, data: { confirm: '¿Estas seguro?' }, class: "button is-light" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Prueba', new_prueba_path %>
