<div class="columns is-desktop">
  <div class="column">
    <%= render 'navbar', prueba: @prueba %>
    <br>
    <br>
    <h1 class="title is-1 is-spaced  is-centered">Pruebas</h1>

    <% @pruebas.each do |prueba| %>
      <%= label 'Registro', prueba.nombre, class: 'title is-6' %>
      <%= label 'Registro1', prueba.edad, class: 'title is-6' %>
      <%= label 'Registro2', prueba.fechaNac, class: 'title is-6' %>
      <%= link_to 'Mostrar', prueba, class: "button is-light" %>
      <%= link_to 'Editar', edit_prueba_path(prueba), class: "button is-light" %>
      <%= link_to 'Eliminar', prueba, method: :delete, data: { confirm: '¿Estas seguro?' }, class: "button is-light" %>
      <hr>
    <% end %>
    <p id="notice"><%= notice %></p>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Pueba</strong> by <a>Diego Zaizar</a>. &copy; All Rights Reserved.
        </p>
      </div>
    </footer>
  </div>
</div>